
// Images and Icons
.anImage {
    border-radius: 1rem;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 0 4px 2px lightgrey;
}

.anIcon {
    // height: auto;
    width: 100%;
    max-width: 50px;
    // padding: 5%;
}

.footIcon {
    // height: auto;
    width: 100%;
    max-width: 25px;
}

.skillIcon {
    // height: auto;
    width: 100%;
    max-width: 50px;
    padding: auto;
}

.learningIcon {
    width: 50%;
    max-width: 150px;
}


// Banner and Quote text
.quote-text {
    @include font-size(.75rem);
    font-style: italic;
}
.source-text{
    @include font-size(.75rem);  
}
@media (min-width: 1200px) {
    .quote-text {
        font-size: 1.25rem;
    }
    .source-text {
        font-size: 1.25rem;
    }
}