.wedding-page {
    background: #CCCCFF;
    min-height: 100vh;
    font-family: 'Optima', sans-serif;
    // 'Jazz LET', fantasy;
    /* Add more custom styles here */
  }

.wedding-title {
  color: #1e3c5a;
  text-align: center;
  margin-top: 2rem;
  padding: 2rem;
  font-family: 'Jazz LET', fantasy;
  background-color: #CCCCFF;
}

.wedding-text {
    color: #3c3c50;
    text-align: center;
    margin-top: 2rem;
}




// pure yellow: #ffff00
// periwinkle:CCCCFF
// dark grey blue: #1e3c5a