.wedding-page {
    background: #CCCCFF;
    min-height: 100vh;
    font-family: 'Optima', sans-serif;
    // 'Jazz LET', fantasy;
    /* Add more custom styles here */
  }

.wedding-title {
  color: #1e3c5a;
  text-align: center;
  margin-top: 2rem;
  padding: 2rem;
  font-family: 'Jazz LET', fantasy;
  background-color: #CCCCFF;
}

.wedding-text {
    color: #3c3c50;
    text-align: center;
    margin-top: 2rem;
}

.wedding-map{
  max-width: 800px; /* Caps width */
  margin: 20px auto; /* Centers */
}

.wedding-iframe {
  width: 100%; /* Fills container */
  height: 60vh; /* 60% of viewport height */
  min-height: 200px;
}


.wedding-image{
    width: 50%; /* Relative to parent container */
    max-width: 500px; /* Caps the size */
    height: auto; /* Maintains aspect ratio */
}



// pure yellow: #ffff00
// periwinkle:CCCCFF
// dark grey blue: #1e3c5a