.wedding-page {
    background: #CCCCFF;
    min-height: 100vh;
    font-family: 'Optima', sans-serif;
    // 'Jazz LET', fantasy;
    /* Add more custom styles here */
  }

.wedding-title {
  color: #1e3c5a;
  text-align: center;
  padding-bottom: 2rem;
  font-family: 'Jazz LET', fantasy;
  background-color: #CCCCFF;
}

.wedding-text {
    color: #3c3c50;
    text-align: center;
    margin-top: 2rem;
}

// Make the containers for maps and images identical
.wedding-map,
.wedding-image-container {
    display: block;
    width: 100%;
    max-width: 480px;
    margin: 1rem auto;
    border-radius: 8px;
    aspect-ratio: 4/3;
    overflow: hidden;
}

// Make the content (iframe or image) fill its container
.wedding-iframe,
.wedding-image-container img {
    width: 100%;
    height: 100%;
    border: 0;
}

// Ensure the image scales correctly without distortion
.wedding-image-container img {
    object-fit: cover;
}

// Custom styling for the RSVP submit button
.btn.btn-rsvp-submit {
  background-color: #C71585; // Dark pink
  color: #FFFFFF; // White text
  border: 2px solid #C71585;
  font-weight: bold;
}

.btn.btn-rsvp-submit:hover {
  background-color: #a1116a; // Darker pink on hover
  color: #FFFFFF; // White text
  border-color: #a1116a;
}

// pure yellow: #ffff00
// periwinkle:CCCCFF
// dark grey blue: #1e3c5a